*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;


    --hue: 250;
    --header-clr: hsl(var(--hue), 17%, 62%);

    --ff-primary: 'Staatliches';
    --ff-secondary: 'Palanquin';
    --ff-3:'Roboto', sans-serif;
    --ff-span:'Open sans';
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 84%, 12%);
    --fc-3: hsl(var(--hue), 17%, 35%);
    
    --fs-head: 4.0rem;
    --fs-h2: 2.0rem;
    --fs-p:2.4rem;
    --fs-span: 1.4rem;

    --fbg-clr: hsl(var(--hue), 18%, 79%);
    --h2bg-clr: hsl(312, 91%, 96%);
    --bg-clr: hsl(233, 100%, 97%);



    
}

.page{
    width: 38.5rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    background-color: var(--bg-clr);
}

header{
    margin: 0 auto;
    height: 28rem;
    width: 38.5rem;
    background-color: var(--header-clr);
    padding-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header p{
    display: none;
}

.txtbg{

    background: var(--fbg-clr);
    width: 100%;
    height: 5.0rem;
    text-align: center;
    padding: 0.8rem 0;
}

h1{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-head);
    line-height: 3.4rem;
    color: var(--fc-primary);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header img{
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

main{
    display: grid;
    gap: 3.2rem;
    animation: downtop 400ms;
    
}

p{
    padding: 1.4rem 0 6.3rem;
    width: 30rem;
    font-family: var(--ff-secondary);
    color: var(--fc-secondary);
    text-align: center;
}

.card{
    position: relative;
    font-family: var(--ff-primary);
}

.card img{
    
    width: 32rem;
    object-fit: cover;
    border-radius: 20px;

    transition: all 500ms;
    filter: brightness(0.8) saturate(1.5);

}

.card img:hover{

    transform: scale(1.1);
    opacity: 0.5;
}

.card h2{

    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    width: fit-content;
    height: 3.5rem;
    padding: 0.1rem 2.3rem 0.1rem;

    text-align: center;
    font-family: var(--ff-primary);
    color: var(--fc-3);
    font-size: var(--fs-h2);
    font-weight: 400;
    line-height: 3.4rem;


    background-color: var(--h2bg-clr);
    border-radius: 28px;

    animation: topdown 700ms;
}

span{
    display: none;
}

@keyframes topdown{
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(15px);

    }
    
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(min-width: 930px){
    body{
        display: flex;
        background-color: var(--bg-clr);
    }
    header{
        
        padding: 0;
        margin: 0;
        height: 96rem;
        width: 50rem;
    }
    main{
        grid-template-areas: 
        "A B E"
        "D B F"
        "D C F";
        gap:3.2rem;
    }
    main div:nth-child(1){
        grid-area: A;
    }
    main div:nth-child(2){
        grid-area: B;
    }
    main div:nth-child(3){
        grid-area: C;
    }
    main div:nth-child(4){
        grid-area: D;
    }
    main div:nth-child(5){
        grid-area: E;
    }
    main div:nth-child(6){
        grid-area: F;
    }
    
    
    .page{
    
        width: 121.8rem;
        height: 90rem;
        padding: 6.4rem 9.8rem 0;
        
        
    
        
    }
    .card{
        width: 32rem;
        
        
        
    }
    .card img{
        max-height: 45rem;
        
    }
    .page p{
        display: none;
    }
    header p{
        display: block;
        margin-top: 5.2rem;
        font-family: var(--ff-3);
        font-size: var(--fs-p);
        font-weight: 400;
        color: var(--fc-primary);
        text-align: center;
        width: 40rem;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5.0rem;
    
    }
    span{
        display: inline;
        font-size: var(--fs-span);
        font-family: var(--ff-span);
        font-weight: 400;
        color: hsla(232, 17%, 35%, 1);

    }
    

}